<div class="card">
    <div class="card-top">
        <img src="{{flags.svg}}" alt="{{name}}" width="50" >
        <span class="card-title"><b> {{name}}</b></span>
    </div>
    <div class="card-body">
        <p class="card-text"><b>Capital: </b>{{capital}}</p>
        <p class="card-text"><b>Population: </b>{{population}}</p>
        <p class="card-text"><b>Languages: {{#each languages}}{{name}}, {{/each}}</b></p>
    </div>
</div>

